<h1>CESI Teacher Survey Results</h1>
<p>In December 2014, I distributed a survey to teachers, through the <abbr title="The Computers in Education Society of Ireland ">CESI</abbr> mailing list. I wanted to gauge the level of <abbr title="Information, Communications Technology">ICT</abbr> Skill and communication of teachers in Ireland.</p>
<div class="survey">
		<a href="/results/index">Results Index</a>		|		<a href="/results/atai">ATAI survey results</a>		|	<a href="/results/test">Aptitude Test results</a>
</div>

<div id="data"></div>
<div id="chartcesi1" class= "charts3"></div>
<div id="chartcesi2" class= "charts3"></div>
<div id="chartcesi2b" class= "charts3"></div>
<div id="chartcesi3"  class= "charts3" ></div>
<div id="chartcesi4" class= "charts2"></div>
<div id="chartcesi5"  class= "charts" ></div>
<div id="chartcesi3b" class= "charts3"></div>
<div id="chartcesi6" class= "charts3"></div>
<div id="chartcesi7" class= "charts3"></div>
<div id="chartcesi7b"class= "charts3"></div>
<div id="chartcesi8" class= "charts"></div>
<div id="chartcesi9" class= "charts2"></div>
<div id="chart9cesi" class= "charts3"></div>
<div id="chart91cesi" class= "charts3"></div>
<div id="chart11cesi" class= "charts2"></div>
<div id="chartcesi10" class= "charts"></div>
<div id="chartcesi12" class= "charts3"></div>
<div id="chartcesi12b" class= "charts3"></div>
<div id="chartcesi13" class= "charts2"></div>
<div id="chartcesi13b" class= "charts"></div>
<div id="chartcesi14" class= "charts3"></div>


