<h1>CESI Teacher Survey Results</h1>
<p>In December 2014, I distributed a survey to teachers, through the <abbr title="The Computers in Education Society of Ireland ">CESI</abbr> mailing list. I wanted to gauge the level of <abbr title="Information, Communications Technology">ICT</abbr> Skill and communication of teachers in Ireland.</p>
<div class="survey">
		<a href="/results/index">Results Index</a>		|		<a href="/results/atai">ATAI survey results</a>		|	<a href="/results/test">Aptitude Test results</a>
</div>

<div id="data"></div>
<div id="chartcesi" class= "charts2"></div>
<div id="chart2cesi"  class= "charts" ></div>
<div id="chart3cesi" class= "charts2"></div>
<div id="chart5cesi"  class= "charts" ></div>
<div id="chart35cesi" class= "charts3"></div>
<div id="chart36cesi" class= "charts3"></div>
<div id="chart55cesi" class= "charts3"></div>
<div id="chart56cesi"class= "charts3"></div>
<div id="chart4cesi" class= "charts3"></div>
<div id="chart6cesi" class= "charts"></div>
<div id="chart7cesi" class= "charts"></div>
<div id="chart8cesi" class= "charts"></div>
<div id="chart9cesi" class= "charts3"></div>
<div id="chart91cesi" class= "charts3"></div>
<div id="chart11cesi" class= "charts2"></div>
<div id="chart10cesi" class= "charts"></div>
<div id="chart12cesi" class= "charts3"></div>
<div id="chart13cesi" class= "charts3"></div>
<div id="chart16cesi" class= "charts3"></div>


