<article>
	
</article>

<aside>
	
	<p>results of analysis</p>
	<ul class="survey">
		<li><a href="/results/atai">Art Teacher survey results</a></li>
		<li><a href="/results/cesi">Cesi survey results</a></li>
		<li><a href="/results/test">Aptitude Test results</a></li>
	</ul>
</aside>