<h1>Results#test</h1>
<p>Find me in app/views/results/test.html.erb</p>
<div class="survey">
		<a href="/results/index">Results Index</a>		|		<a href="/results/cesi">Cesi survey results</a>		|	<a href="/results/ATAI">Atai survey results</a>
</div>
